server:
  port: 8071
spring:
  application:
    name: "configserver"
  profiles:
    active: git
  ##active: native
  cloud:
    config:
      server:
        git:
          uri: "https://github.com/ZakaNaji/eazybytes-config"
          clone-on-start: true
          timeout: 5
          default-label: main
          force-pull: true
        ##native:
        ##  search-locations: classpath:/config,file:///C://projects//SpringBoot//EazyBankMSProject//spring-cloud-config-server//config